* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  src: url('fonts/Raleway.ttf');
  font-family: Raleway;
}

/* Header Section */

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 30px 100px;
  z-index: 1;
}
header .Heading {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  color: #E53935;
}
header nav {
  display: flex;
}
header nav li {
  list-style: none;
}
header nav li a {
  font-family: Raleway;
  color: #E53935;
  text-decoration: none;
  padding: 15px;
}

/* Burgernav */

.burger-menu {
  display: none;
}
.burger-menu:hover {
  cursor: pointer;
}
.burger-menu .line {
  width: 35px;
  height: 5px;
  background-color: #E53935;
  margin-top: 5px;
}
.full-nav {
  display: none;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.full-nav .closeNav {
  position: fixed;
  top: 40px;
  left: 50px;
  font-weight: bold;
  color: white;
  font-size: 50px;
}
.full-nav .closeNav:hover {
  cursor: pointer;
}
.full-nav .content {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 4;
}
.full-nav .content li {
  list-style: none;
}
.full-nav .content li a {
  font-size: 35px;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  opacity: 1;
}
.highlight {
  border-bottom: 3px solid #E53935;
}
@media (max-width: 800px) {
  header nav {
    display: none;
  }
  header .burger-menu {
    display: block;
  }
}

/* footer */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #212121;
  z-index: 1;
}
footer p{
  padding: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  z-index: 1;
}
@media (max-width: 500px) {
  footer p {
    font-size: 13px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Home Section */

.Background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: 1s fadeIn ease;
  z-index: -1;
}
.Home-content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home-content-wrapper {
  width: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  padding: 20px;
  background-color: white;
  animation: fadeIn 1s ease;
}
.Home-content-wrapper .Home-heading {
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 30px;
  color: #E53935;
}
.Home-content-wrapper p {
  font-family: Raleway;
  font-weight: bolder;
}
.Home-content-wrapper a {
  font-family: Raleway;
  margin-top: 20px;
  font-weight: bolder;
  text-decoration: none;
  padding: 8px 20px;
  background-color: #E53935;
  color: white;
  border-radius: 3px;
}
@media (max-width: 550px) {
   .Home-content-wrapper {
     width: 300px;
   }
   .Home-content-wrapper .Home-heading {
     font-size: 25px;
   }
}
/* About Section */

.About-content {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  z-index: 1;
}
.Paragraph-1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Paragraph-2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Paragraph-wrapper {
  width: 330px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  background-color: white;
  font-family: Raleway;
  font-weight: bold;
}
.Paragraph-wrapper h2 {
  color: #E53935;
}
.Paragraph-wrapper p {
  width: 240px;
  font-size: 14px;
  text-align: center;
}
@media (max-width:600px) {
  .Paragraph-wrapper p {
    font-size: 13px;
  }
}
@media (max-width: 800px) {
  .About-content {
    min-height: 200vh;
    flex-direction: column;
    justify-content: center;
  }
  .Paragraph-1 {
    margin-bottom: 100px;
  }
  .Paragraph-2 {
    margin-top: 100px;
  }
}
/* Beratung Section */

.Beratung-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Beratung-text {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  z-index: 1;
}
.Beratung-text img {
  width: 300px;
}
.Beratung-text p {
  font-family: Raleway;
  font-weight: bold;
  padding: 20px;
}
@media (max-width: 700px) {
  .Beratung-text {
    flex-direction: column;
    width: 400px;
  }
}

/* Kontakt section */

.Kontakt-content {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.Kontakt-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Kontakt-form {
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  z-index: 1;
}
.Kontakt-form h2 {
  font-family: Raleway;
  font-weight: bolder;
  color: #E53935;
  margin-bottom: 10px;
}
.Kontakt-form .input-field {
  padding: 10px;
}
.Kontakt-form input[type="text"] {
  padding: 10px;
  width: 250px;
}
.Kontakt-form .text-field {
  padding: 10px;
}
.Kontakt-form textarea[type="text"] {
  padding: 10px;
  width: 100%;
  resize: none;
  height: 100px;
}
.Kontakt-form .button-field {
  display: flex;
  justify-content: center;
}
.Kontakt-form .button-field p{
  width: 100px;
  font-family: Raleway;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #E53935;
  color: white;
}
.Kontakt-form .button-field p:hover {
  cursor: pointer;
}
.Info-wrapper {
  width: 50%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Raleway;
}
.Kontakt-info {
  text-align: center;
  z-index: 1;
  color: white;
}
.Kontakt-info h2 {
  margin-bottom: 10px;
}
.Kontakt-info .Datenschutz {
  font-size: 15px;
  text-decoration: underline;
}
.Kontakt-info .Datenschutz:hover {
  cursor: pointer;
}
.black {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  opacity: 0.7;
}
.Datenschutz-wrapper {
  display: none;
}
.Datenschutz-Info {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.Datenschutz-wrapper .closebtn {
  position: fixed;
  top: 230px;
  right: 485px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  z-index: 4;
}
.Datenschutz-wrapper .closebtn:hover {
  cursor: pointer;
}
.Datenschutz-wrapper .Datenschutz-Info p {
  width: 400px;
  padding: 20px;
  background-color: white;
}
.standort-wrapper {
  display: none;
}
.picture-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.picture-wrapper img {
  width: 350px;
}
.Kontakt-info .standort-button {
  text-decoration: underline;
}
.Kontakt-info .standort-button:hover {
  cursor: pointer;
}
@media (max-width: 800px) {
.Kontakt-content {
  min-height: 200vh;
  flex-direction: column;
}
.Kontakt-wrapper {
  padding-bottom: 150px;
}
}

/* Standort section */

.Location-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Location-wrapper img {
  width: 350px;
  z-index: 1;
  padding: 40px;
  background-color: white;
}
