* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header Section */

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 5;
  animation: 1s fadeIn ease;
}
header .Heading {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  color: #E53935;
}
header nav {
  display: flex;
  z-index: 5;
}
header nav li {
  list-style: none;
  z-index: 5;
}
header nav li a {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  z-index: 5;
}
header nav li:nth-child(2) {
  transform: translateX(-20px);
}
header nav li a .phone {
  width: 36px;
  height: 36px;
}
.highlight {
  color: #E53935;
}
.black {
  color: #000000;
}

/* Burgernav */

.burger-menu {
  display: none;
  cursor: pointer;
}
.burger-menu .line {
  width: 35px;
  height: 3px;
  background-color: #E53935;
  margin-top: 5px;
}
.burger-menu .line:nth-child(2) {
  width: 20px;
}
.burger-menu .line:nth-child(3) {
  width: 25px;
}
.full-nav {
  display: none;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 6;
}
.full-nav .closeNav {
  position: absolute;
  font-weight: bold;
  right: 50px;
  top: 30px;
  color: black;
  font-size: 50px;
  cursor: pointer;
  z-index: 4;
}
.full-nav .content {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 6;
}
.full-nav .content li {
  list-style: none;
  padding: 5px;
}
.full-nav .content li a {
  font-size: 35px;
  color: #E53935;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  opacity: 1;
}
.full-nav .content li .nav-call {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  color: #212121;
}
.full-nav .content .nav-call img {
  width: 40px;
  height: 40px;
}
.highlight {
  border-bottom: 3px solid #E53935;
}

/* index content */

.index-content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: fadeIn 1s ease;
}
.index-content .text-content {
  height: 100vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F5F5F5;
}
.index-content .text-content-wrapper {
  width: 800px;
  z-index: 5;
}
.index-content .text-content-wrapper h1 {
  font-size: 50px;
  color: #E93838;
  margin-bottom: 40px;
  font-family: Raleway;
  font-weight: bold;
  z-index: 5;
}
.index-content .text-content-wrapper p {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 40px;
}
.index-content .text-content-wrapper .kontakt {
  font-family: Raleway;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #E93838;
  color: white;
  text-decoration: none;
}
.index-content .text-content-wrapper .call {
  transform: translateY(100px);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  text-align: center;
}
.index-content .text-content-wrapper .call img{
  width: 40px;
  height: 40px;
}
.index-content .image-content {
  width: 40%;
  height: 100%;
}
.black-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 3;
  opacity: 0.6;
}
.index-content .image-content img{
  position: absolute;
  z-index: 2;
}

/* Beratung Section */

.first-content {
  position: relative;
  height: 840px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #212121;
  animation: fadeIn 1s ease;
}
.first-content .image-content {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-content .image-content img {
  width: 650px;
}
.first-content .text-content {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.first-content .text-content h2 {
  font-size: 45px;
  font-family: Raleway;
  color: #E93838;
  font-weight: bold;
  margin-bottom: 50px;
}
.first-content .text-content p {
  font-size: 30px;
  font-family: Raleway;
  font-weight: bold;
  color: white;
  width: 750px;
}
.scroll-content {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-120px);
}
.scroll-content .mouse {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 72px;
  border: 3px solid #ffffff;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.scroll-content .mouse .dot {
  width: 10px;
  height: 10px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  animation: 2s scrollAnimation ease infinite;
}
.second-content {
  height: 640px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #F5F5F5;
  animation: fadeIn 1s ease;
}
.second-content .text-content {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 100px;
}
.second-content .text-content h2 {
  font-size: 45px;
  font-family: Raleway;
  color: #E93838;
  font-weight: bold;
  margin-bottom: 50px;
}
.second-content .text-content p {
  font-size: 30px;
  font-family: Raleway;
  font-weight: bold;
  color: #212121;
  width: 750px;
}
.second-content .image-content {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-content .image-content img {
  width: 650px;
}

/* About Section */

.about-content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  overflow-x: hidden;
  animation: fadeIn 1s ease;
}
.about-content .image-content {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-content .image-content img {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.about-content .image-content h2 {
  color: white;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  z-index: 4;
}
.about-content .image-content p {
  color: white;
  font-size: 25px;
  width: 850px;
  text-align: center;
  font-family: Raleway;
  font-weight: bold;
  z-index: 4;
  margin-top: 40px;
}
.about-content .service-content {
  position: relative;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F5F5F5;
  z-index: 3;
}
.about-content .service-content .icon-wrapper {
  width: 1100px;
}
.about-content .service-content .icon-wrapper .row-1 {
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.about-content .service-content .icon-wrapper .row-2 {
   width: 1100px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
}
.about-content .service-content .items {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.about-content .service-content h3{
  font-family: Raleway;
  font-weight: bold;
  text-align: center;
}

/* Kontakt section */

.Background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Kontakt-content {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  animation: fadeIn 1s ease;
}
.Kontakt-wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-content {
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  z-index: 3;
}
.contact-content h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  color: #E53935;
  margin-bottom: 10px;
}
.contact-content .section{
  padding: 10px;
}
.contact-content input[type="text"] {
  padding: 10px;
  width: 300px;
}
.contact-content .message {
  padding: 10px;
}
.contact-content textarea[type="text"] {
  padding: 10px;
  width: 100%;
  resize: none;
  height: 100px;
}
.contact-content .button-section {
  display: flex;
  justify-content: center;
}
.contact-content .button-section input{
  width: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #E53935;
  color: white;
  border: none;
  cursor: pointer;
}
.Info-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Raleway;
}
.Kontakt-info {
  text-align: center;
  z-index: 1;
  color: black;
}
.Kontakt-info h2 {
  margin-bottom: 10px;
}
.Kontakt-info a {
  color: white;
}
.Kontakt-info .Datenschutz {
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
  margin-top: -10px;
}
.Datenschutz-wrapper {
  width: 100%;
  height: 100vh;
}
.Datenschutz-Info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.Datenschutz-Info h2 {
  color: #212121;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  margin-bottom: 10px;
}
.Datenschutz-wrapper .Datenschutz-Info p {
  width: 400px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Raleway', sans-serif;
}

/* footer */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #212121;
  z-index: 1;
}
footer p{
  padding: 30px;
  font-family: Raleway;
  font-weight: bold;
  color: white;
  font-size: 13px;
  z-index: 1;
}
footer a {
  text-decoration: none;
  padding: 30px;
  font-family: Raleway;
  color: white;
  font-weight: bold;
  font-size: 13px;
}
@media (max-width: 450px) {
  footer p {
    font-size: 10px;
    padding: 15px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scrollAnimation {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}
@keyframes buttonAnimation {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0px);
  }
}
